DATABASE_URI=postgresql://grundwerkinvest_admin:grundwerkinvest_pass@db:5432/grundwerkinvest_db
PAYLOAD_SECRET=YOUR_SECRET_HERE
NEXT_PUBLIC_SERVER_URL=https://grundwerkinvest.de

POSTGRES_USER=grundwerkinvest_admin
POSTGRES_PASSWORD=grundwerkinvest_pass
POSTGRES_DB=grundwerkinvest_db
