# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# IDEs
/.idea
/.vscode
*.swp
*.swo
.project
.settings
.classpath

# testing
/coverage
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
test.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Payload CMS
/media
translations/.en-snapshot.json
# Generated import map usually shouldn't be committed if it's dynamic
src/app/(payload)/admin/importMap.js

# Docker
.docker
